body {background-color: grey;}

h1 {text-align: center;color: green;

 font-family: verdana;

 font-size: 300%; }

p {text-align: center;color: white;

 font-family: courier;

 font-size: 150%; }

a {text-align: center;color: black; font-family: black; font-size: 150%; }

* {box-sizing:border-box}



img:hover {filter: brightness(50%);}

.link {text-align: center;}

.input {text-align: center;}

.certs {text-align: center;}

#mission {
  float:none;
  border: 3px green solid;
  text-align: center;
  padding: 15px;
  background: #333;
}
