.boxes{
  float:right;
  width: 30%;
}
.events{
  padding: 15px;
  padding-bottom: 40px;
  background-color: #d5dbdb;
  border: 3px black solid;
  margin: 10px;
}
.news{
  padding: 15px;
  padding-bottom: 40px;
  background-color: #d5dbdb;
  border: 3px black solid;
  margin: 10px;
}
